.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
    justify-content: space-around;

    width: 80%;
/* border: 1px solid black; */
height: 350px;
display: flex;
margin-top: 150px;
margin: 150px 0px 150px 120px;
    /* height: 500px; */
    /* width: 250px; */
    
}

.facebook{
    color: blue;
    font-size:x-large;
}

.input
{
    background: white;
    border: 1px solid #bdc7d8;
    font-size: 15px;
    /* padding: 5px 10px 15px 20px; */
    border-radius: 5px 5px 5px 5%;
    color: blue;
    width: 200px;
    height: 30px;
}



.signup{
    font-family: 'Open Sans',sans-serif;
    text-rendering:optimizelegibility;
    color: white;
    width: 210px;
    height: 35px;
    background: blue;
  /* padding: 5px 10px 15px 20px; */
    border-radius: 5px 5px 5px 5%;
}

.create{
    background: rgb(59, 218, 59);
    width: 150px;
    height: 35px;
    border-radius: 5px 5px 5px 5%;
    
}

.forgotten{
    color: blue;
    text-align: center;
}

.remarks
    {
     

        border: 1px     ;
        text-align: right;
    
    }